In [1]:
import pandas as pd
import requests

In [3]:
url = "https://en.wikipedia.org/wiki/Fortune_Global_500"

tables = pd.read_html(url)
for i, tbl in enumerate(tables):
    print(i, tbl.shape)
    print(tbl.columns.tolist())
    print()

df = tables[1]

0 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

1 (10, 3)
['Rank', 'Country', 'Companies']

2 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

3 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

4 (10, 3)
['Rank', 'Country', 'Companies']

5 (4, 3)
['Region', 'Companies', 'Global share']

6 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

7 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

8 (10, 3)
['Rank', 'Country', 'Companies']

9 (4, 3)
['Region', 'Companies', 'Global share']

10 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

11 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

12 (10, 3)
['Rank', 'Country', 'Companies']

13 (4, 3)
['Region', 'Companies', 'Global share']

14 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

15 (10, 3)
['Rank', 'Country', 'Companies']

16 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

17 (4, 3)
['Region', 'Companies', 'Global share']

18 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

19 (10, 3)
['Rank', 'Country', 'Companies']

20 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

21 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

22 (10, 3)
['Rank', 'Country', 'Companies']

23 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

24 (55, 5)
['Industry', 'Company', 'Country', 'Rank', 'Revenue ($M)']

25 (10, 4)
['Rank', 'Company', 'Country', 'Profits ($M)']

26 (10, 5)
['Rank', 'Company', 'Country', 'Industry', 'Revenue in USD']

27 (9, 3)
['Rank', 'Country', 'Companies']

28 (20, 5)
['Sector', 'Company', 'Headquarters', 'Overall rank', 'Revenues ($M)']

In [28]:
df = tables[24]

In [29]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(r"\s+", "_", regex=True)
      .str.replace(r"[^\w_]", "", regex=True)
)

df = df.dropna(how="all", axis=0).dropna(how="all", axis=1)

df = df.reset_index(drop=True)

print(df.head())
print(df.info())

                      industry                       company        country  \
0          Aerospace & Defense                        Boeing  United States
1                     Airlines             American Airlines  United States
2                      Apparel                Christian Dior         France
3  Banks: Commercial & Savings  Industrial & Commercial Bank          China
4                    Beverages          Anheuser-Busch InBev        Belgium

   rank  revenue_m
0    64      93392
1   260      42207
2   208      49221
3    26     153021
4   170      56444
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   industry   55 non-null     object
 1   company    55 non-null     object
 2   country    55 non-null     object
 3   rank       55 non-null     int64
 4   revenue_m  55 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.3+ KB
None

In [30]:
output_csv = "fortune_global_500_2023.csv"
df.to_csv(output_csv, index=False)
print(f"Saved cleaned dataset to {output_csv}")

Saved cleaned dataset to fortune_global_500_2023.csv

In [31]:
df.head()

,industry,company,country,rank,revenue_m
0,Aerospace & Defense,Boeing,United States,64,93392
1,Airlines,American Airlines,United States,260,42207
2,Apparel,Christian Dior,France,208,49221
3,Banks: Commercial & Savings,Industrial & Commercial Bank,China,26,153021
4,Beverages,Anheuser-Busch InBev,Belgium,170,56444

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   industry   55 non-null     object
 1   company    55 non-null     object
 2   country    55 non-null     object
 3   rank       55 non-null     int64
 4   revenue_m  55 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.3+ KB

In [33]:
import os

# List all files in current directory
for file in os.listdir():
    print(file)

.virtual_documents
fortune_global_500_2023.csv

In [34]:
!cp fortune_global_500_2023.csv /kaggle/working/

cp: 'fortune_global_500_2023.csv' and '/kaggle/working/fortune_global_500_2023.csv' are the same file

In [36]:
df.to_csv("/kaggle/working/fortune_global_500_2023.csv", index=False)

In [38]:
pd.read_csv('/kaggle/working/fortune_global_500_2023.csv')

,industry,company,country,rank,revenue_m
0,Aerospace & Defense,Boeing,United States,64,93392
1,Airlines,American Airlines,United States,260,42207
2,Apparel,Christian Dior,France,208,49221
3,Banks: Commercial & Savings,Industrial & Commercial Bank,China,26,153021
4,Beverages,Anheuser-Busch InBev,Belgium,170,56444
5,"Building Materials, Glass",Saint-Gobain,France,231,46002
6,Chemicals,BASF,Germany,112,72677
7,Computer Software,Microsoft,United States,71,89950
8,"Computers, Office Equipment",Apple,United States,11,229234
9,Construction & Farm Machinery,Caterpillar,United States,238,45462
10,Diversified Financials,EXOR Group,Netherlands,19,161677
11,"Electronics, Electrical Equipment",Samsung Electronics,South Korea,12,211940
12,Energy,Gazprom,Russia,49,111983
13,Engineering & Construction,China Construction Engineering,China,23,156071
14,Entertainment,Disney,United States,176,55137
15,Food & Drug Stores,Kroger,United States,39,122662
16,Food Consumer Products,Nestle,Switzerland,69,91222
17,Food Production,Archer Daniels Midland,United States,152,60828
18,Food Services,Compass Group,United Kingdom,413,28578
19,General Merchandisers,Walmart,United States,1,500343
20,Health Care: Insurance & Managed Care,UnitedHealth Group,United States,15,201159
21,Health Care: Medical Facilities,HCA Healthcare,United States,215,47653
22,Health Care: Pharmacy & Other Services,CVS Health,United States,17,184765
23,Household & Personal Products,Procter & Gamble,United States,135,66217
24,Human Resources & Employment Services,Adecco Group,Switzerland,441,26670
25,Industrial Machinery,General Electric,United States,41,122274
26,Information Technology Services,IBM,United States,92,79139
27,"Insurance: Life, Health (Mutual)",Nippon Life Insurance,Japan,126,68684
28,"Insurance: Life, Health (Stock)",AXA,France,27,149461
29,Insurance: Property & Casualty (Mutual),State Farm Insurance,United States,95,78331
30,Insurance: Property & Casualty (Stock),Berkshire Hathaway,United States,10,242137
31,Internet Services & Retailing,Amazon.com,United States,18,177866
32,"Mail, Package, & Freight Delivery",China Post Group,China,113,72197
33,Medical Products & Equipment,Medtronic,Ireland,396,29710
34,Metals,China Minmetals,China,109,72997
35,"Mining, Crude-Oil Production",Glencore,Switzerland,14,205476
36,Motor Vehicles & Parts,Toyota Motor,Japan,6,265172
37,Network & Other Communications Equipment,Huawei Investment & Holding,China,72,89311
38,"Oil & Gas Equipment, Services",Schlumberger,United States,386,30440
39,Petroleum Refining,Sinopec Group,China,3,326953
40,Pharmaceuticals,China Resources,China,86,82184
41,Pipelines,Energy Transfer Equity,United States,217,47487
42,Railroads,Deutsche Bahn,Germany,211,48124
43,Real Estate,China Evergrande Group,China,230,46019
44,Semiconductors & Other Electronic Components,Intel,United States,146,62761
45,Shipping,China Shipbuilding Industry,China,245,44431
46,Specialty Retailers,Home Depot,United States,57,100904
47,Telecommunications,AT&T,United States,20,160546
48,Textiles,Shandong Weiqiao Pioneering,China,185,53203
49,Tobacco,Philip Morris International,United States,411,28748
50,Trading,Trafigura Group,Singapore,32,136421
51,Utilities,State Grid,China,2,348903
52,Wholesalers: Electronics & Office Equipment,Tech Data,United States,315,36775
53,Wholesalers: Food & Grocery,Sysco,United States,174,55371
54,Wholesalers: Health Care,McKesson Corporation,United States,13,208357